* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

div.container {
  border: 5px solid #006D77;
  width: 98%;
  margin: 0 auto;
}

/* Header */
header {
  display: flex;
  padding: 10px;
  background-color: burlywood;
  color: #006D77;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.logo-title {
  width: 100%;
  margin: 5px 0 0 10px;
}

.social-links ul {
  display:flex;
  width: 220px;
  justify-content: space-around;
}

.social-links ul li {
  display:flex;
}

nav {
  clear: both;
  display:flex;
  justify-content: space-between;
  background-color: #62808b;
}

nav ul {
  display: inline-flex;
  width: 100%;
}

.page-links {
  width:100%;
}

.page-links ul li {
  display:inline-flex;
  flex-grow: 2;
  justify-content: space-around;
  line-height: 2em;
  border-right: 1px solid white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-variant: small-caps;

  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.page-links ul li:last-child {
  border-right: none;
}

.page-links ul li:hover {
  display: block;
  text-align: center;
  background-color: #42a7b3;
  font-weight: bold;
  text-decoration: underline;
  flex-grow: 3;
}

nav ul li a {
  color: white;
  text-decoration: none;
  /* make whole li clickable */
  display: block;
}

nav ul li.active a {
  font-weight: bold;
}

main {
  font-size: large;
}

.home article {
  clear: both;
  display: flex;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: space-around;
  margin: 15px 10px;
}

.home article .statement {
  padding: 130px 15px 0 15px;
  width: 40%;
  font-size: larger;
  border: 1px solid red;
  background-color: rgb(236, 232, 232);
}

.home article .side {
  width: 50%;
}

.home article .side img {
  width: 100%;
  height: 100%;
  /* take the aspect ratio of first image and 
     fit the rest images into the same space */
  object-fit: cover;
}

.home section {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin: auto;
}

.home section img {
  width: 100%;
}

.home section img:hover {
  border: 2px solid red;
}

div.digital-art, div.drawings, div.sketches {
  width: 30%;
}

.home figure {
  text-align: center;
  background-color: rgb(248, 245, 244);
  margin: 10px;
  padding-bottom: 5px;
}

/* Gallery */
.gallery h4 {
  text-align: center;
  margin: 5px;
  margin-top: 20px;
  padding: 2px 5px;
  text-decoration:2px underline red;
}

.gallery section {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin: auto;
}

.gallery section img {
  width: 100%;
}

.gallery section img:hover {
  border: 2px solid red;
}

div.image1,
div.image2,
div.image3,
div.image4 {
  width: 24%;
}

/* News & Events */
.news h3, .events h3 {
  padding: 8px;
  margin-bottom: 8px;
  line-height: 1em;
  border: 1px solid red;
}

.summary-text {
  text-decoration: underline;
  padding: 3px;
}

.news details p, .events details p {
  padding: 12px;
}

.news-events {
  float: left;
  width: 70%;
  margin: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.news-events-aside {
  display: flex;
  margin: 60px auto;
}

.news-events-aside img{
  width:80%;
  margin: auto;
}

/* About */
.about .statement h3 {
  padding: 8px;
  margin-bottom: 8px;
  line-height: 1em;
  border: 1px solid red;
}
.about .statement h4 {
  padding-left: 10px;
  padding-bottom: 5px;
}

.about .statement p {
  padding-left: 15px;
}

.about {
  display: inline-flex;
  float: left;
  width: 70%;
  margin: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.about-aside {
  display: flex;
  margin: 80px auto;
}

.about-aside img{
  width:80%;
  margin: auto;
}

/* Contact */
.contact .form-title {
  display: flex;
  width: 55%;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 30px;
}

.contact .form-title p {
  text-decoration: underline;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #006D77;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #62808b;
}

.form {
  display: inline-flex;
  float: left;
  width: 60%;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 1px solid red;
}

.contact-aside {
  display: flex;
  margin: auto;
  padding-top: 80px;
}

.contact-aside img{
  width: 80%;
  margin: auto;
}

/* Footer */
footer {
  clear: both;
  background-color: burlywood;
  color: #006D77;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
  line-height: 2em;
  padding-left: 10px;
}

/* Large Tablets */
@media screen and (max-width: 1000px) {
  header, footer {
    background-color: burlywood;
  }

  h1 {
    font-size: x-large;
  }

  .social-links ul {
    width: 190px;
  }
  
  main {
    font-size: medium;
  }

  .home article .statement {
    padding: 50px 15px 0 15px;
  }
}

/* Medium/small Tablets */
@media screen and (max-width: 800px) {
  header, footer {
    background-color: burlywood;
  }

  h1 {
    font-size: large;
  }  

  .social-links ul {
    width: 180px;
  }

  main {
    font-size: medium;
  }

  .home article {
    clear: both;
    display: block;
    padding-top: 0;
  }
  
  .home article .statement {
    padding: 10px;
  }

  .home article .statement {
    width: 90%;
    margin: 20px auto;
  }

  .home article .side {
    width: 90%;
    margin: auto;
  }

  div.digital-art, div.drawings, div.sketches {
    width: 100%;
    margin: 5px;
  }

  .news-events {
    width: 98%;
    margin: 5px;
  }

  .news-events-aside {
    display: none;
  }

  .about {
    width: 98%;
    margin: 5px;
  }

  .about-aside {
    display: none;
  }

  .contact {
    width: 98%;
  }

  .contact .form-title {
    width: 90%;
  }

  .form {
    width: 100%;
    margin: 5px;
  }
  
  .contact-aside {
    display: none;
  }
}

/* Smartphones */
@media screen and (max-width : 550px) {
  header, footer {
    background-color: burlywood;
  }

  .social-links ul {
    width: 160px;
  }

  main {
    font-size: small;
  }

  .gallery section {
    width: 85%;
  }
}